.App {
  background-color: #f2f2f2;
}

.App > h2 {
  font-size: 30px;
  padding: 1rem !important;
}

.footer {
  text-align: center;
  padding-bottom: 2rem !important;
}

/*------------------- Program------------ */
.rowType {
  display: flex;
  flex-wrap: wrap;
}

/* ------------Filter---------------- */
.filters {
  margin: 0 1rem !important;
  background-color: #fff;
}

.filters > h5 {
  padding: 0.5rem !important;
}

.filters p {
  text-align: center;
  margin: 0px;
}

.line {
  width: 57%;
  color: #808080 !important;
  margin: 0 3.5rem !important;
  margin-bottom: 0.5rem !important;
}

.filters button {
  margin: 0.5rem 1rem !important;
  max-width: 30%;
}

.rowButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.launchLand {
  margin-top: 1rem !important;
}

/* --------------Launch Details------------------*/
.dataCard {
  max-width: 17.79rem !important;
  margin-bottom: 1rem !important;
}
.rowData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.maxImage {
  background-color: #f2f2f2;
  margin: 1rem;
  min-height: 15rem;
}

.textColor {
  color: #4a4f9d;
}

/* --------------------Phone view ---------------------- */
@media only screen and (max-width: 700px) {
  .App > h2 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
  .filters > h5 {
    font-size: 30px;
    font-weight: 700;
  }
  .filters button {
    margin: 0.5rem 1.5rem !important;
  }
  .filterInfo {
    font-size: 20px;
  }
  .line {
    width: 47%;
    color: #696969 !important;
    margin: 0 5.5rem !important;
    border-top: 1.5px solid #696969;
  }
  .filters {
    margin-bottom: 1rem !important;
  }
  .dataCard {
    max-width: 21.5rem !important;
  }
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .filters button {
    margin: 0.5rem 0.4rem !important;
    max-width: 40%;
  }
  .line {
    width: 80%;
    color: #696969 !important;
    margin: 0 1rem !important;
    border-top: 1.5px solid #696969;
  }
}
